* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e5decf;
  color: #4F4F4F;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.card {
  background-color: #f6eee3;
  max-width: 600px;
  margin: 16px auto;
  padding: 16px;
}

h1 {
  text-align: center;
  color: #1F1F1F;
  font-family: 'Open Sans', "PT Sans", Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: #333333;
}

a {
  color: #030303;
}

img {
  height: 600px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block
;
}